.container {
    padding: 0rem 0rem;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.mission {
    line-height: 480%;
    max-width: 40rem;

    .word {
        font-size: 4.4rem;
        color: rgba(255, 255, 255, 0.3);
        transition: color 0.3s ease;
        font-family: "Instrument Serif", serif;
        font-weight: 400;

        @media only screen and (max-width: 60rem) {
            font-size: 3.8rem;
        }
    }
}