.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    .bannercontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .tag {
            position: absolute;
            top: 0;
            left: 0;
            margin: 1rem;
            background-color: #0E8345;
            font-size: 1.56rem;
            font-weight: 500;
            padding: 0.4rem;
            border-radius: 0.4rem;
        }

        .banner {
            aspect-ratio: 16/9;
            border-radius: 1.2rem;

            width: 100%;

            object-fit: cover;
            user-select: none;
            pointer-events: none;
        }
    }

    .detailscontainer {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        .dishname {
            font-size: 1.64rem;
            font-weight: 600;

            width: 100%;


            display: flex;
            flex-direction: row;
            align-items: center;
            color: #121212;



            .calories {
                font-weight: 400;
                font-size: 1.4rem;
                padding: 0rem 0.4rem;

                color: hsl(0, 0%, 40%);

            }
        }

        .price {
            font-size: 1.66rem;
            font-weight: 500;

            display: flex;
            flex-direction: flex-end;
            align-items: flex-end;
            gap: 0.2rem;
            color: #121212;

            .rupeesymbol {
                font-size: 1.26rem;
                font-weight: 600;
                color: hsl(0, 0%, 46%);
            }
        }
    }

}


.menucontainer{
    display: flex;
    flex-direction: row;
    gap: 4rem;

    @media only screen and (max-width: 60rem) {
        flex-direction: column;
    }
}